
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RedirectPermanent https://www.inscriptioncanada.com/email_form.php https://www.inscriptioncanada.com
